# ===============================
# Backend (ASP.NET Core)
# ===============================
bin/
obj/
*.user
*.suo
*.vsp
*.vspscc
launchSettings.json
*.db
*.log

# ===============================
# App (React + TypeScript)
# ===============================
/app/node_modules/
/app/dist/
/app/build/
/app/.env
/app/.cache

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# JetBrains IDE (WebStorm, Rider)
# ===============================
.idea/

# ===============================
# Visual Studio
# ===============================
.vs/

# ===============================
# Environment Variables
# ===============================
.env