h1 {
    text-align: center;
    font-size: 56px;
}

h2 {
    font-weight: normal;
    margin: 50px 0 16px 0;
    font-size: 42px;
}
button {
    background: linear-gradient(135deg, #4facfe, #021230);
    border: none;
    border-radius: 12px;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.97);
    box-shadow: 0 3px 8px rgba(0, 191, 255, 0.4);
}