.addTaskForm {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    border: 2px solid #021230;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
    padding: 42px;
    margin: 0 auto;
    gap: 24px;
    box-sizing: border-box;
    width: 40%;
}

.addTaskForm input,
.addTaskForm select {
    border-radius: 10px;
    border: 1px solid #4facfe;
    width: 100%;
    height: 45px;
    padding: 12px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.addTaskForm input:hover,
.addTaskForm select:hover {
    background-color: #ececec;
}

.addTaskForm div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
    box-sizing: border-box;
}
